<html>

<head>
  <title>Mini-Lego</title>
  <link rel="stylesheet" href="../public/styles/style.css"  />

  <script type="text/javascript" src="../public/scripts/clientScript.js"></script>
</head>

<body>

  <nav>
    <div class="nav"><h1>Mini-Lego</h1></div>
    <div class="nav"><a href="/browse/">Browse Ideas</a></div>
    <div class="nav"><a href="/">Home</a></div>
    <div class="nav"><a href="/">Collection</a></div>

    <div class="nav"><a href="/">Login/Register</a></div>
    <div class="nav"><a href="/">Logout</a></div>
  </nav>

  {{{body}}}

  <footer>
    <a href="/">about</a>
    <p>|</p>
    <a href="/">contact</a>
  </footer>

</body>

</html>
