<h2>Tutorials and Instructions</h2>

<h3>Instruction Manuals</h3>
<!-- put a dropdown list with sort categories here -->
<div class="bones">
  <h5>Some Intruction Title</h5>
  <h6>Author</h6>
  <h6>Origional Post</h6>
</div>

<h3>Videos</h3>
<h5>Link to some youtube videos I guess</h5>

<h3></h3>
