<h2>Tutorials and Instructions</h2>

<h3>Instruction Manuals</h3>
<!-- put a dropdown list with sort categories here -->
<div class="bones">
  <h5>Some Intruction Title</h5>
  <h6>Author</h6>
  <h6>Origional Post</h6>
</div>

<h3>Videos</h3>
<h5>Link to some youtube videos I guess</h5>

<h3>The factory says {[{message}]}</h3>

<h3>Add Your Own Mini-Lego Idea!</h3>

<form class="bones">
  <label for="submitType">Type (of submission. video, instructions, imagemacro, etc;): </label>
  <input type="text" name="submitType" ng-model="submitType" />
  <label for="submitTitle">Title: </label>
  <input type="text" name="submitTitle" ng-model="submitTitle" />
  <label for="submitUrl">Url Link for your submission: </label>
  <input type="text" name="submitUrl" ng-model="submitUrl" />
  <button class="button" ng-click="submitIdeaClick()">Submit Idea</button>
</form>
