<h2>What is Mini-Lego?</h2>

<p>
  Mini-Lego is a site dedicated to micro scale or mini scale Lego sets.
  Although there is no strict defenition for a micro scale set, a good rule of
  thumb is 'would a minifig be a giant in this creations world?' If yes then
  it is definitly a mini set! There are a few other common lego scales. Some may
  be featured on this site and some might not. Here we only focus on small
  creations.
</p>

<p> Here are some of the set scales featured on Mini-Lego</p>

<ul>
  <li>Mini / Micro Scale</li>
  <p>See above.</p>
  <li>Minimalist</li>
  <p>Like micro but focuses on using as few peices as possible - may be
  hard to see what it's 'supposed to be.'</p>
  <li>Vignette</li>
  <p>Minifig scale but in a visualy dense, <em>very</em> confined
  space.</p>
</ul>

<h1>Featured Sets</h1>

<div class="bones">
  <img src="/public/styles/images/micro-death-star-lego.jpg"
  <h5>Micro Death Star</h5>
  <h6>Credit: Reddit user 'InnerWrathChild'</h6>
  <h6><a href="http://reddit.com">View Origional Post</a></h6>
</div>
